body{
    display: flex;
    justify-content: center;
    align-items: center; /*coloca todos os itens no centro*/
    background-color: rgb(42, 98, 148);
    flex-direction: column; /*coloca um emcima do outro*/
    
} #header{
    margin-top: 40px; /* desce a margem*/
    font: normal 20pt arial;
}#seção{
    background-color: antiquewhite;
    padding: 40px;
    margin: 20px;
    height: 270px;
    width: 200px;
    border-radius: 20px;

} #texto{
    text-align: center;

} #texto2{
    text-align: center;
}
    