body {
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}
header {
    text-align: center;
    font: normal 20pt arial;
    color: aliceblue;
} div {
    justify-content: center;
    text-align: center;
    color: black;
    padding: 40pt;
    height: 100px;
    width: 100px;
    background-color:whitesmoke;
    border-radius: 20px;
}