body {
    font: normal 15pt arial;
    background-color: black;

}
header {
    text-align: center;
    font: normal 20pt arial;
    color: white;
    margin-bottom: 30pt;
  
} section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin: auto;
    text-align: left;
    padding: 40pt;
    width: 500px;
    background-color:whitesmoke;
    border-radius: 20px;
}