body {
 background-color: rgb(89, 138, 138);
 font: normal 15pt Arial;
 text-align: center;
}
section {
    background: whitesmoke;
    border-radius: 10%;
    padding: 15px;
    width: 500px;
    margin: 400px;
    box-shadow: 5px 5px 10px rgba(190, 23, 23, 0.701);
}
div {
    text-align: center;
    padding: 10px;
}
footer {
    color:white;
    text-align: center;
    font-style: italic;

}